<div id="footer">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <span class="footer-content">Designed by <a href="https://girisagar46.github.io" target="_blank">Sagar Giri</a></span>
            <span class="footer-content">KalaPatthar &copy;</span>
            <span class="footer-content">
                <a href="https://github.com/girisagar46" style="color: black" target="_blank"><i class="fa fa-1x fa-github-square"></i></a>
                <a href="https://facebook.com/girisagar46" target="_blank"><i class="fa fa-1x fa-facebook-square"></i></a>
            </span>
        </div>
    </div>
</div>