{% extends 'snippets/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <form action="{% url 'crawl_sites' %}" method="POST" role="form" class="form">

                {% csrf_token %}

                <h3>Enter URL: </h3>

                <input type="url" id="url" class="form-input" placeholder="" name="requested_url">

                <input type="submit" class="btn btn-primary" value="Start Scrapping">
            </form>

        </div>
    </div>


{% endblock content %}